USE [master]
GO
/****** Object:  Database [ITViet]    Script Date: 04/12/2019 9:01:38 PM ******/
CREATE DATABASE [ITViet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITViet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ITViet.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ITViet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ITViet_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITViet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITViet]
GO
/****** Object:  Table [dbo].[City]    Script Date: 04/12/2019 9:01:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skill]    Script Date: 04/12/2019 9:01:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Technical] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[City] ON 

GO
INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'Tp.HCM')
GO
INSERT [dbo].[City] ([Id], [Name]) VALUES (2, N'Ha Noi')
GO
INSERT [dbo].[City] ([Id], [Name]) VALUES (3, N'Da Nang')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

GO
INSERT [dbo].[Skill] ([Id], [Name]) VALUES (1, N'Tester')
GO
INSERT [dbo].[Skill] ([Id], [Name]) VALUES (2, N'Java')
GO
INSERT [dbo].[Skill] ([Id], [Name]) VALUES (3, N'PHP')
GO
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
USE [master]
GO
