USE [master]
GO
/****** Object:  Database [GlobalToyz]    Script Date: 11/29/2019 8:53:32 PM ******/
CREATE DATABASE [GlobalToyz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GlobalToyz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GlobalToyz.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GlobalToyz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GlobalToyz_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GlobalToyz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GlobalToyz]
GO
/****** Object:  UserDefinedDataType [dbo].[id]    Script Date: 11/29/2019 8:53:32 PM ******/
CREATE TYPE [dbo].[id] FROM [char](6) NOT NULL
GO
/****** Object:  StoredProcedure [dbo].[prcGenOrder]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prcGenOrder]
@OrderNo char(6)OUTPUT
as
SELECT @OrderNo=Max(cOrderNo) FROM Orders
SELECT @OrderNo= 
CASE 
	WHEN @OrderNo >=0 and @OrderNo<9 Then '00000'+Convert(char,@OrderNo+1)
	WHEN @OrderNo>=9 and @OrderNo<99 Then '0000'+Convert(char,@OrderNo+1)
	WHEN @OrderNo>=99 and @OrderNo<999 Then '000'+Convert(char,@OrderNo+1)
	WHEN @OrderNo>=999 and @OrderNo<9999 Then '00'+Convert(char,@OrderNo+1)
	WHEN @OrderNo>=9999 and @OrderNo<99999 Then '0'+Convert(char,@OrderNo+1)
	WHEN @OrderNo>=99999 Then Convert(char,@OrderNo+1)
END
RETURN  


GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[cCategoryId] [char](3) NOT NULL,
	[cCategory] [char](20) NOT NULL,
	[vDescription] [varchar](100) NULL,
 CONSTRAINT [ct_pk] PRIMARY KEY CLUSTERED 
(
	[cCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[cCountryId] [char](3) NOT NULL,
	[cCountry] [char](25) NOT NULL,
 CONSTRAINT [c_pk] PRIMARY KEY CLUSTERED 
(
	[cCountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[cOrderNo] [char](6) NOT NULL,
	[cToyId] [char](6) NOT NULL,
	[siQty] [smallint] NOT NULL,
	[cGiftWrap] [char](1) NULL,
	[cWrapperId] [char](3) NULL,
	[vMessage] [varchar](256) NULL,
	[mToyCost] [money] NULL,
 CONSTRAINT [z_key] PRIMARY KEY CLUSTERED 
(
	[cOrderNo] ASC,
	[cToyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[cOrderNo] [char](6) NOT NULL,
	[dOrderDate] [datetime] NOT NULL,
	[cCartId] [char](6) NOT NULL,
	[cShopperId] [char](6) NOT NULL,
	[cShippingModeId] [char](2) NULL,
	[mShippingCharges] [money] NULL,
	[mGiftWrapCharges] [money] NULL,
	[cOrderProcessed] [char](1) NULL,
	[mTotalCost] [money] NULL,
	[dExpDelDate] [datetime] NULL,
 CONSTRAINT [CO_PK] PRIMARY KEY CLUSTERED 
(
	[cOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PickOfMonth]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PickOfMonth](
	[cToyId] [char](6) NOT NULL,
	[siMonth] [smallint] NOT NULL,
	[iYear] [int] NOT NULL,
	[iTotalSold] [int] NULL,
 CONSTRAINT [POM_PK] PRIMARY KEY CLUSTERED 
(
	[cToyId] ASC,
	[siMonth] ASC,
	[iYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Recipient]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Recipient](
	[cOrderNo] [char](6) NOT NULL,
	[vFirstName] [varchar](20) NOT NULL,
	[vLastName] [varchar](20) NOT NULL,
	[vAddress] [varchar](20) NOT NULL,
	[cCity] [char](15) NOT NULL,
	[cState] [char](15) NOT NULL,
	[cCountryId] [char](3) NULL,
	[cZipCode] [char](10) NULL,
	[cPhone] [char](15) NULL,
 CONSTRAINT [RCP_PK] PRIMARY KEY CLUSTERED 
(
	[cOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shipment](
	[cOrderNo] [char](6) NOT NULL,
	[dShipmentDate] [datetime] NULL,
	[cDeliveryStatus] [char](1) NULL,
	[dActualDeliveryDate] [datetime] NULL,
 CONSTRAINT [SHP_PK] PRIMARY KEY CLUSTERED 
(
	[cOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShippingMode]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShippingMode](
	[cModeId] [char](2) NOT NULL,
	[cMode] [char](25) NOT NULL,
	[iMaxDelDays] [int] NULL,
 CONSTRAINT [spm_pk] PRIMARY KEY CLUSTERED 
(
	[cModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShippingRate]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShippingRate](
	[cCountryID] [char](3) NOT NULL,
	[cModeId] [char](2) NOT NULL,
	[mRatePerPound] [money] NOT NULL,
 CONSTRAINT [SR_PRK] PRIMARY KEY CLUSTERED 
(
	[cCountryID] ASC,
	[cModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shopper]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shopper](
	[cShopperId] [char](6) NOT NULL,
	[cPassword] [char](10) NOT NULL,
	[vFirstName] [varchar](20) NOT NULL,
	[vLastName] [varchar](20) NOT NULL,
	[vEmailId] [varchar](40) NOT NULL,
	[vAddress] [varchar](40) NOT NULL,
	[cCity] [char](15) NOT NULL,
	[cState] [char](15) NOT NULL,
	[cCountryId] [char](3) NULL,
	[cZipCode] [char](10) NULL,
	[cPhone] [char](15) NOT NULL,
	[cCreditCardNo] [char](16) NOT NULL,
	[vCreditCardType] [varchar](15) NOT NULL,
	[dExpiryDate] [datetime] NULL,
 CONSTRAINT [s_id] PRIMARY KEY CLUSTERED 
(
	[cShopperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[cCartId] [char](6) NOT NULL,
	[cToyId] [char](6) NOT NULL,
	[siQty] [smallint] NOT NULL,
 CONSTRAINT [SCHP_PK] PRIMARY KEY CLUSTERED 
(
	[cCartId] ASC,
	[cToyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ToyBrand]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ToyBrand](
	[cBrandId] [char](3) NOT NULL,
	[cBrandName] [char](20) NOT NULL,
 CONSTRAINT [TB_pk] PRIMARY KEY CLUSTERED 
(
	[cBrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Toys]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Toys](
	[cToyId] [char](6) NOT NULL,
	[vToyName] [varchar](20) NOT NULL,
	[vToyDescription] [varchar](250) NULL,
	[cCategoryId] [char](3) NULL,
	[mToyRate] [money] NOT NULL,
	[cBrandId] [char](3) NULL,
	[imPhoto] [image] NULL,
	[siToyQoh] [smallint] NOT NULL,
	[siLowerAge] [smallint] NOT NULL,
	[siUpperAge] [smallint] NOT NULL,
	[siToyWeight] [smallint] NULL,
	[vToyImgPath] [varchar](50) NULL,
 CONSTRAINT [t_id] PRIMARY KEY CLUSTERED 
(
	[cToyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wrapper]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wrapper](
	[cWrapperId] [char](3) NOT NULL,
	[vDescription] [varchar](20) NULL,
	[mWrapperRate] [money] NOT NULL,
	[imPhoto] [image] NULL,
	[vWrapperImgPath] [varchar](50) NULL,
 CONSTRAINT [w_id] PRIMARY KEY CLUSTERED 
(
	[cWrapperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[View_2]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_2]
AS
SELECT     dbo.Toys.cToyId, dbo.Toys.vToyName, dbo.Category.cCategory
FROM         dbo.Category INNER JOIN
                      dbo.Toys ON dbo.Category.cCategoryId = dbo.Toys.cCategoryId


GO
/****** Object:  View [dbo].[VW_3]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE VIEW [dbo].[VW_3]
 AS
 SELECT * FROM VIEW_2 WHERE cCategory='Activity'

GO
/****** Object:  View [dbo].[View_1]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT     cCategoryId, cCategory
FROM         dbo.Category


GO
/****** Object:  View [dbo].[VW_1]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[VW_1]
 AS

 SELECT * FROM [Category] WHERE CCATEGORYID IN('001','003')

GO
/****** Object:  View [dbo].[vw_hoadon]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_hoadon]
as
select [cOrderNo],[dOrderDate],[mTotalCost],s.[cShopperId],c.[cCartId],[vFirstName],[vLastName],c.[cToyId],[siQty],[vToyName],[mToyRate], 'line total' =[siQty]*[mToyRate]
from

[dbo].[Orders] o  join [dbo].[Shopper] s
on o.cShopperId = s.cShopperId 

join  [dbo].[ShoppingCart] c on c.cCartId = o.cCartId

join [dbo].[Toys] t on t.cToyId = c.cToyId

-- 

GO
/****** Object:  View [dbo].[vwOrderWrapper]    Script Date: 11/29/2019 8:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[vwOrderWrapper]
as
SELECT cOrderNo,cToyId,siQty,vDescription,mWrapperRate
FROM OrderDetail JOIN Wrapper
ON OrderDetail.cWrapperId=Wrapper.cWrapperId


GO
INSERT [dbo].[Category] ([cCategoryId], [cCategory], [vDescription]) VALUES (N'001', N'Activity            ', N'Activity toys encourage the childs social skills and interest in the world around them.')
INSERT [dbo].[Category] ([cCategoryId], [cCategory], [vDescription]) VALUES (N'002', N'Dolls               ', N'A wide range of dolls from all the leading brands.')
INSERT [dbo].[Category] ([cCategoryId], [cCategory], [vDescription]) VALUES (N'003', N'Arts And Crafts     ', N'Encourage children to create masterpieces with these incredible craft kits.')
INSERT [dbo].[Country] ([cCountryId], [cCountry]) VALUES (N'001', N'United states of America ')
INSERT [dbo].[Country] ([cCountryId], [cCountry]) VALUES (N'002', N'Albania                  ')
INSERT [dbo].[Country] ([cCountryId], [cCountry]) VALUES (N'003', N'Andorra                  ')
INSERT [dbo].[OrderDetail] ([cOrderNo], [cToyId], [siQty], [cGiftWrap], [cWrapperId], [vMessage], [mToyCost]) VALUES (N'000001', N'000007', 2, N'N', NULL, NULL, 39.9800)
INSERT [dbo].[OrderDetail] ([cOrderNo], [cToyId], [siQty], [cGiftWrap], [cWrapperId], [vMessage], [mToyCost]) VALUES (N'000001', N'000008', 1, N'Y', N'002', N'Surprise', 14.9900)
INSERT [dbo].[OrderDetail] ([cOrderNo], [cToyId], [siQty], [cGiftWrap], [cWrapperId], [vMessage], [mToyCost]) VALUES (N'000002', N'000016', 2, N'Y', N'001', N'I Love you', 86.5000)
INSERT [dbo].[Orders] ([cOrderNo], [dOrderDate], [cCartId], [cShopperId], [cShippingModeId], [mShippingCharges], [mGiftWrapCharges], [cOrderProcessed], [mTotalCost], [dExpDelDate]) VALUES (N'000001', CAST(0x000090A500000000 AS DateTime), N'000002', N'000002', N'01', 6.0000, 1.2500, N'Y', 62.2200, CAST(0x000090A900000000 AS DateTime))
INSERT [dbo].[Orders] ([cOrderNo], [dOrderDate], [cCartId], [cShopperId], [cShippingModeId], [mShippingCharges], [mGiftWrapCharges], [cOrderProcessed], [mTotalCost], [dExpDelDate]) VALUES (N'000002', CAST(0x000090A500000000 AS DateTime), N'000001', N'000005', N'02', 8.0000, 2.0000, N'Y', 96.5000, CAST(0x000090A800000000 AS DateTime))
INSERT [dbo].[Orders] ([cOrderNo], [dOrderDate], [cCartId], [cShopperId], [cShippingModeId], [mShippingCharges], [mGiftWrapCharges], [cOrderProcessed], [mTotalCost], [dExpDelDate]) VALUES (N'000003', CAST(0x000090A500000000 AS DateTime), N'000003', N'000007', N'01', 12.0000, 0.0000, N'Y', 83.9700, CAST(0x000090A900000000 AS DateTime))
INSERT [dbo].[PickOfMonth] ([cToyId], [siMonth], [iYear], [iTotalSold]) VALUES (N'000001', 1, 2000, 1000)
INSERT [dbo].[PickOfMonth] ([cToyId], [siMonth], [iYear], [iTotalSold]) VALUES (N'000001', 2, 2000, 1230)
INSERT [dbo].[PickOfMonth] ([cToyId], [siMonth], [iYear], [iTotalSold]) VALUES (N'000002', 6, 2000, 3000)
INSERT [dbo].[Recipient] ([cOrderNo], [vFirstName], [vLastName], [vAddress], [cCity], [cState], [cCountryId], [cZipCode], [cPhone]) VALUES (N'000001', N'Barbara', N'Johnson', N'227 Beach Ave.', N'Sunnyvale      ', N'California     ', N'001', N'94087-1147', N'123-5673       ')
INSERT [dbo].[Recipient] ([cOrderNo], [vFirstName], [vLastName], [vAddress], [cCity], [cState], [cCountryId], [cZipCode], [cPhone]) VALUES (N'000002', N'Catherine', N'Roberts', N'5508 Aquiline Court', N'San Jose       ', N'California     ', N'001', N'95233-4123', N'445-2256       ')
INSERT [dbo].[Recipient] ([cOrderNo], [vFirstName], [vLastName], [vAddress], [cCity], [cState], [cCountryId], [cZipCode], [cPhone]) VALUES (N'000003', N'Christopher', N'Davis', N'4896 11th ST', N'Hill Avenue    ', N'Utah           ', N'001', N'84056-5410', N'556-9087       ')
INSERT [dbo].[Shipment] ([cOrderNo], [dShipmentDate], [cDeliveryStatus], [dActualDeliveryDate]) VALUES (N'000001', CAST(0x000090A800000000 AS DateTime), N'd', CAST(0x000090A900000000 AS DateTime))
INSERT [dbo].[Shipment] ([cOrderNo], [dShipmentDate], [cDeliveryStatus], [dActualDeliveryDate]) VALUES (N'000002', CAST(0x000090A800000000 AS DateTime), N'd', CAST(0x000090A800000000 AS DateTime))
INSERT [dbo].[Shipment] ([cOrderNo], [dShipmentDate], [cDeliveryStatus], [dActualDeliveryDate]) VALUES (N'000003', CAST(0x000090A800000000 AS DateTime), N's', NULL)
INSERT [dbo].[ShippingMode] ([cModeId], [cMode], [iMaxDelDays]) VALUES (N'01', N'Standard Shipping        ', 4)
INSERT [dbo].[ShippingMode] ([cModeId], [cMode], [iMaxDelDays]) VALUES (N'02', N'World Mail               ', 3)
INSERT [dbo].[ShippingMode] ([cModeId], [cMode], [iMaxDelDays]) VALUES (N'03', N'International Priority   ', 1)
INSERT [dbo].[ShippingRate] ([cCountryID], [cModeId], [mRatePerPound]) VALUES (N'001', N'01', 2.0000)
INSERT [dbo].[ShippingRate] ([cCountryID], [cModeId], [mRatePerPound]) VALUES (N'001', N'02', 4.0000)
INSERT [dbo].[ShippingRate] ([cCountryID], [cModeId], [mRatePerPound]) VALUES (N'001', N'03', 10.0000)
INSERT [dbo].[Shopper] ([cShopperId], [cPassword], [vFirstName], [vLastName], [vEmailId], [vAddress], [cCity], [cState], [cCountryId], [cZipCode], [cPhone], [cCreditCardNo], [vCreditCardType], [dExpiryDate]) VALUES (N'000001', N'angels    ', N'Angela', N'Smith', N'angelas@qmail.com', N'16223 Radiance Court', N'Woodbridge     ', N'Virginia       ', N'001', N'22191     ', N'227-2344       ', N'6947343412896785', N'Master Card', CAST(0x000090F600000000 AS DateTime))
INSERT [dbo].[Shopper] ([cShopperId], [cPassword], [vFirstName], [vLastName], [vEmailId], [vAddress], [cCity], [cState], [cCountryId], [cZipCode], [cPhone], [cCreditCardNo], [vCreditCardType], [dExpiryDate]) VALUES (N'000002', N'guide     ', N'Barbara', N'Johnson', N'barbaraj@speedmail.com', N'227 Beach Ave.', N'Sunnyvale      ', N'California     ', N'001', N'94087-1147', N'123-5673       ', N'5345146765854356', N'Master Card', CAST(0x0000907D00000000 AS DateTime))
INSERT [dbo].[Shopper] ([cShopperId], [cPassword], [vFirstName], [vLastName], [vEmailId], [vAddress], [cCity], [cState], [cCountryId], [cZipCode], [cPhone], [cCreditCardNo], [vCreditCardType], [dExpiryDate]) VALUES (N'000003', N'youbet    ', N'Betty', N'Williams', N'bettyw@dpeedmil.cm', N'1 Tread Road', N'Virginia Beach ', N'Varginia       ', N'001', N'23455     ', N'458-3299       ', N'4747343412896785', N'Visa Card', CAST(0x0000917300000000 AS DateTime))
INSERT [dbo].[ShoppingCart] ([cCartId], [cToyId], [siQty]) VALUES (N'000001', N'000001', 1)
INSERT [dbo].[ShoppingCart] ([cCartId], [cToyId], [siQty]) VALUES (N'000001', N'000007', 1)
INSERT [dbo].[ShoppingCart] ([cCartId], [cToyId], [siQty]) VALUES (N'000001', N'000008', 1)
INSERT [dbo].[ToyBrand] ([cBrandId], [cBrandName]) VALUES (N'001', N'Bobby               ')
INSERT [dbo].[ToyBrand] ([cBrandId], [cBrandName]) VALUES (N'002', N'Frances-Price       ')
INSERT [dbo].[ToyBrand] ([cBrandId], [cBrandName]) VALUES (N'003', N'The Bernie Kids     ')
INSERT [dbo].[Toys] ([cToyId], [vToyName], [vToyDescription], [cCategoryId], [mToyRate], [cBrandId], [imPhoto], [siToyQoh], [siLowerAge], [siUpperAge], [siToyWeight], [vToyImgPath]) VALUES (N'000001', N'new', N'A giant Blue Whale with two heavy-duty handles that allow a child to ride on its back. ', N'001', 8.9900, N'001', 0x312E6A7067, 50, 3, 9, 1, N'p1.jpg')
INSERT [dbo].[Toys] ([cToyId], [vToyName], [vToyDescription], [cCategoryId], [mToyRate], [cBrandId], [imPhoto], [siToyQoh], [siLowerAge], [siUpperAge], [siToyWeight], [vToyImgPath]) VALUES (N'000002', N'new', N'Children enjoy playing with water.  The Water Channel System consists of 22 interchangeable pieces including a dock with moveable crane and a water wheel, which creates a current in the water and four boats', N'001', 33.9900, N'001', NULL, 60, 5, 9, 2, N'p2.jpg')
INSERT [dbo].[Toys] ([cToyId], [vToyName], [vToyDescription], [cCategoryId], [mToyRate], [cBrandId], [imPhoto], [siToyQoh], [siLowerAge], [siUpperAge], [siToyWeight], [vToyImgPath]) VALUES (N'000003', N'new', N'Step on the launch pad and the rocket is launched which sends a parachute slowly down to earth. ', N'001', 6.9900, N'003', NULL, 90, 7, 9, 1, N'p3.jpg')
INSERT [dbo].[Wrapper] ([cWrapperId], [vDescription], [mWrapperRate], [imPhoto], [vWrapperImgPath]) VALUES (N'001', N'Geckos', 1.0000, NULL, NULL)
INSERT [dbo].[Wrapper] ([cWrapperId], [vDescription], [mWrapperRate], [imPhoto], [vWrapperImgPath]) VALUES (N'002', N'Baby blocks', 1.2500, NULL, NULL)
INSERT [dbo].[Wrapper] ([cWrapperId], [vDescription], [mWrapperRate], [imPhoto], [vWrapperImgPath]) VALUES (N'003', N'Stars', 1.5000, NULL, NULL)
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([cOrderNo])
REFERENCES [dbo].[Orders] ([cOrderNo])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([cToyId])
REFERENCES [dbo].[Toys] ([cToyId])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([cWrapperId])
REFERENCES [dbo].[Wrapper] ([cWrapperId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([cShippingModeId])
REFERENCES [dbo].[ShippingMode] ([cModeId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([cShopperId])
REFERENCES [dbo].[Shopper] ([cShopperId])
GO
ALTER TABLE [dbo].[PickOfMonth]  WITH CHECK ADD FOREIGN KEY([cToyId])
REFERENCES [dbo].[Toys] ([cToyId])
GO
ALTER TABLE [dbo].[Recipient]  WITH CHECK ADD FOREIGN KEY([cCountryId])
REFERENCES [dbo].[Country] ([cCountryId])
GO
ALTER TABLE [dbo].[Recipient]  WITH CHECK ADD FOREIGN KEY([cOrderNo])
REFERENCES [dbo].[Orders] ([cOrderNo])
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD FOREIGN KEY([cOrderNo])
REFERENCES [dbo].[Orders] ([cOrderNo])
GO
ALTER TABLE [dbo].[ShippingRate]  WITH CHECK ADD FOREIGN KEY([cCountryID])
REFERENCES [dbo].[Country] ([cCountryId])
GO
ALTER TABLE [dbo].[ShippingRate]  WITH CHECK ADD FOREIGN KEY([cModeId])
REFERENCES [dbo].[ShippingMode] ([cModeId])
GO
ALTER TABLE [dbo].[Shopper]  WITH CHECK ADD FOREIGN KEY([cCountryId])
REFERENCES [dbo].[Country] ([cCountryId])
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD FOREIGN KEY([cToyId])
REFERENCES [dbo].[Toys] ([cToyId])
GO
ALTER TABLE [dbo].[Toys]  WITH CHECK ADD FOREIGN KEY([cBrandId])
REFERENCES [dbo].[ToyBrand] ([cBrandId])
GO
ALTER TABLE [dbo].[Toys]  WITH CHECK ADD FOREIGN KEY([cCategoryId])
REFERENCES [dbo].[Category] ([cCategoryId])
GO
ALTER TABLE [dbo].[Recipient]  WITH CHECK ADD CHECK  (([cZipCode] like '[0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Toys]  WITH CHECK ADD CHECK  (([cToyId] like '[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Category"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 235
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[14] 4[40] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Category"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 99
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Toys"
            Begin Extent = 
               Top = 6
               Left = 227
               Bottom = 114
               Right = 384
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
USE [master]
GO
