@charset "ISO-8859-1";

body{
	margin:0;
	padding:0;
	height:1000px;
	width:100%;
	background-color: #eee;
}

#header{
	height:300px;
	background-color: #000;
	color:#fff;
}

#main{
	width:960px;
	height:650px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
	color:#000;
}

#footer{
	height:150px;
	background-color: #000;
	color:#fff;
}