@charset "ISO-8859-1";

body{
	
	margin: 0px;
	padding: 0px;
	width:100%;
	height: 1000px;
	background-color: #eee;
}
#header{
	
	height: 300px;
	background-color: #000;
	color:#FFF;
	
}

#main{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height: 650px;
	background-color: #FFF;
	color:#000;
}
#footer{
	height: 150px;
	background-color: #000;
	color:#FFF;
}